# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build and config
SDLTest
log.log
Untitled3Dgame
Untitled3dgame.pc

# dependencies

# testing

# misc
.DS_Store
